ion-content {
  --background: url(../../assets/wp4018825.webp) no-repeat center/cover fixed;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player-container {
  height: 80%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contac-container {
  height: 20%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
 ion-button{
   .contact-button {
      min-width: 300px;
   }
 }

ion-button[shape=circle] {
  --border-radius: 50%;
  width: 56px;
  height: 56px;
}

.volume-container{
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-chip{
    width: 100%;
  }

  .mute-button{
    margin: 10px 0;
    width: 50px;
    height: 50px;
    margin-right: -20px;
    z-index: 9;
  }
}
