<ion-content [fullscreen]="true">
  <div class="flex-container">
    <div class="player-container">
            <app-play-button [isStreaming]="isStreaming" (btnClick)="playRadio()"></app-play-button>
    </div>
    <div class="contac-container">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="4">
            <a href="https://t.me/ZOOMRADIOMLG" target="_blank"><img src="assets/icon/telegram.svg" alt=""> TELEGRAM</a>
          </ion-col>
          <ion-col size-xs="12" size-md="4">
            <div>TELEFONO</div>
          </ion-col>
          <ion-col size-xs="12" size-md="4">
            <div>OTROS</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

            <!--  <audio #player controls>-->
            <!--    &lt;!&ndash;      <source src="http://109.169.76.104:22189/;.aac" type="audio/aac">&ndash;&gt;-->
            <!--    &lt;!&ndash;      <source src="http://109.169.76.104:22189/;.mp3" type="audio/mpeg">&ndash;&gt;-->
            <!--    <source [src]="radioURL+'.aac'" type="audio/aac">-->
            <!--    <source [src]="radioURL+'.mp3'" type="audio/mpeg">-->
            <!--  </audio>-->
            <!--  <ion-button (click)="player.play()">PLAY</ion-button>-->
            <!--  <ion-button (click)="player.pause()">PAUSE</ion-button>-->
            <!--  <ion-button (click)="player.muted = !player.muted">MUTE</ion-button>-->
            <!--  <ion-range [ticks]="true" [snaps]="true" [min]="0" [max]="10"></ion-range>-->



</ion-content>
