<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="true" menu="mainMenu"></ion-menu-button>
      </ion-buttons>
      <ion-buttons>
          <ion-button>
            <ion-icon name="home-outline"></ion-icon>
            Inicio
          </ion-button>
          <ion-button>
            <ion-icon name="flame-outline"></ion-icon>
            Maná
          </ion-button>
          <ion-button>
            <ion-icon name="heart-outline"></ion-icon>
            Parashá
          </ion-button>
          <ion-button>
            <ion-icon name="call-outline"></ion-icon>
            Contáctanos
          </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title slot="start">
        <ion-img
          style="height: 30px"
          src="../../assets/zoom-radio-logo-small.svg"
        ></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" menuId="mainMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-button (click)="onClick()">BUTTON</ion-button>
        <ion-item (click)="onClick()">Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content [fullscreen]="true">
    <router-outlet id="main"></router-outlet>
  </ion-content>
</ion-app>
