  <div class="flex-container">
    <div class="main-card">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="left-col" size-xs="12" size-md="6">
            <ion-row style="height: 20%" class="ion-justify-content-center">
              <ion-img src="../../assets/zoom-radio-logo.svg"></ion-img>
            </ion-row>
            <ion-row style="height: 50%">
              NADA
            </ion-row>
            <ion-row  style="height: 20%" class="ion-justify-content-center ion-align-items-center">
              <div class="radio-player">
                <div style="width: 20%">
                  <h2>01</h2>
                </div>
                <div class="center-col" style="width: 60%">
                  <h4>Aquí Me Quedo</h4>
                  <h6>Comenzamos hace 6 min...</h6>
                </div>
                <div style="width: 20%">
                  <ion-button color="tertiary" shape="circle" class="play-button"><ion-icon name="heart-outline"></ion-icon></ion-button>
                </div>
              </div>
            </ion-row>
            <ion-row style="height: 10%">
              NADA
            </ion-row>
          </ion-col>

          <ion-col class="right-col ion-padding" size-xs="12" size-md="6">
            <ion-row style="height: 20%">
              <h1>Bienvenidos!</h1>
            </ion-row>
            <ion-row style="height: 50%" class="ion-justify-content-center ion-align-items-center">
              <ion-img src="../../assets/illustration.svg"></ion-img>
            </ion-row>
            <ion-row  style="height: 20%">
              NADA
            </ion-row>
            <ion-row style="height: 10%" class="ion-align-items-center">
              <ion-button><ion-icon name="heart-outline"></ion-icon></ion-button>
              <ion-button><ion-icon name="share-social-outline"></ion-icon></ion-button>
              <ion-button>Compartir</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>


      </ion-grid>
    </div>

  </div>
