ion-content {
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  width: 1016px;
  height: 556px;
  margin-inline: 10px;

  ion-grid {
    border-radius: 12px;
    height: 100%;
    ion-row{
      height: 100%;
    }
    .right-col {
      background: #1F2937;
    }
    .left-col{
      background: #6D28D9;
    };

  }
}

.radio-player{
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  height: 76px;
  width: 428px;
  border-radius: 12px;
  overflow: hidden;
  background: black;
  //opacity: 30%;
  .play-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
      margin: -5px
    }
    h5{
      margin: -5px
    }
  }
}
