<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center row-align-center">
      <ion-col size="12" class="header-col">
        <ion-img class="zoom-radio-logo" src="../assets/zoom-radio-logo.svg">
        </ion-img>
      </ion-col>
    </ion-row>

    <ion-row
      style="height: 250px"
      class="ion-justify-content-center row-align-center"
    >
      <app-audio-player
        *ngIf="canPlayRadio"
        style="height: 100%"
      ></app-audio-player>
      <ion-card color="dark" *ngIf="!canPlayRadio">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="mic-off-outline"></ion-icon>
            Estamos Offline
            <ion-icon name="wifi-outline"></ion-icon>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Para enterarte de todas las novedades, te invitamos a unirte a nuestro
          grupo de WhatsApp
          <a [href]="whatsAppURL" target="_blank">Zoom Radio</a> y a visitarnos
          en Facebook <a [href]="facebookURL" target="_blank">ZoomRadio.Mlg</a>.
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="ion-justify-content-center row-align-center">
      <ion-col
        size-xs="12"
        size-md="4"
        class="social-media-col ion-text-center"
      >
        <a [href]="facebookURL" target="_blank" class="social-media-link">
          <div class="label">
            <ion-img src="assets/icon/1.svg"></ion-img>
            <span>ZOOMRADIO.MLG</span>
          </div>
        </a>
      </ion-col>
      <ion-col
        size-xs="12"
        size-md="4"
        class="social-media-col ion-text-center"
      >
        <a [href]="whatsAppURL" target="_blank" class="social-media-link">
          <div class="label">
            <ion-img src="assets/icon/2.svg"> </ion-img>
            <span>ZOOM RADIO</span>
          </div>
        </a>
      </ion-col>
      <ion-col
        size-xs="12"
        size-md="4"
        class="social-media-col ion-text-center"
      >
        <a
          [href]="'tel:'+phoneNumber"
          target="_blank"
          class="social-media-link"
        >
          <div class="label">
            <ion-img class="social-media-icon" src="assets/icon/3.svg">
            </ion-img>
            <span>{{phoneNumber}}</span>
          </div>
        </a>
      </ion-col>
      <ul class="social-media-list no-bullets">
        <li>
          <a [href]="facebookURL" target="_blank">
            <ion-img
              class="social-media-icon"
              src="assets/icon/1.svg"
            ></ion-img>
            <span> ZoomRadio.Mlg </span>
          </a>
        </li>
        <li>
          <a [href]="whatsAppURL" target="_blank">
            <ion-img
              class="social-media-icon"
              src="assets/icon/2.svg"
            ></ion-img>
            <span>Zoom Radio</span>
          </a>
        </li>
        <li>
          <a [href]="'tel:'+phoneNumber" target="_blank">
            <ion-img
              class="social-media-icon"
              src="assets/icon/3.svg"
            ></ion-img>
            <span>{{phoneNumber}}</span>
          </a>
        </li>
      </ul>
    </ion-row>
  </ion-grid>
</ion-content>
