@media only screen and (max-width: 600px) {
  ion-card {
    ion-img {
      height: 150px;
      margin-bottom: 20px;
    }

    ion-card-subtitle {
      font-size: 18px;
      text-align: center;
    }
    ion-card-content {
      font-size: 16px;
      text-align: justify;
    }
  }

  ion-img.zoom-radio-logo {
    width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  ion-card {
    ion-img {
      height: 200px;
      margin-bottom: 20px;
    }

    max-width: 500px;
    ion-card-subtitle {
      font-size: 20px;
      text-align: center;
    }
    ion-card-content {
      font-size: 18px;
      text-align: justify;
    }
  }

  ion-img.zoom-radio-logo {
    width: 400px;
  }
}

.row-align-center {
  display: flex;
  align-content: center;
}



ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background: #1e2023;
  padding: 20px;
}

.volume {
  position: relative;
  display: flex;
  align-items: center;
  ion-chip {
    width: 100%;
  }
  .mute-button {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 9;
    ion-icon {
      margin: -5px;
      font-size: 28px;
    }
  }
}

.telegram-img {
  height: 22px;
  width: 22px;
  margin-inline: 5px;
}

.call-icon {
  margin-inline: 5px;
}
