@media only screen and (max-width: 600px) {
  .row1 {
    margin-top: 10px;
  }

  ion-card {
    ion-img {
      height: 150px;
      margin-bottom: 20px;
    }

    //max-width: 500px;
    ion-card-subtitle {
      font-size: 18px;
      text-align: center;
    }
    ion-card-content {
      font-size: 16px;
      text-align: justify;
    }
  }
}

@media only screen and (min-width: 600px) {
  .row1 {
    height: 30%;
  }

  .row2 {
    height: 40%;
  }

  .row3 {
    height: 10%;
  }

  .row4 {
    height: 20%;
  }

  ion-card {
    ion-img {
      height: 200px;
      margin-bottom: 20px;
    }

    max-width: 500px;
    ion-card-subtitle {
      font-size: 20px;
      text-align: center;
    }
    ion-card-content {
      font-size: 18px;
      text-align: justify;
    }
  }
}

.row-align-center {
  display: flex;
  align-content: center;
}

.row1 {
  align-content: end;
  ion-img {
    width: 300px;
  }
}

.row2 {
}

.row3 {
}

.row4 {
}

ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #1e2023;
  padding: 20px;
}

.volume {
  position: relative;
  display: flex;
  align-items: center;
  ion-chip {
    width: 100%;
  }
  .mute-button {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 9;
    ion-icon {
      margin: -5px;
      font-size: 28px;
    }
  }
}

.telegram-img {
  height: 22px;
  width: 22px;
  margin-inline: 5px;
}

.call-icon {
  margin-inline: 5px;
}
