@media only screen and (max-width: 720px) {
  .social-media-col {
    display: none;
  }

  ul.social-media-list {
    a {
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      margin: 20px 0;
    }

    ion-img {
      height: 30px;
      width: 30px;
    }

    span {
      margin-left: 10px;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 400;
    }
  }

  ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ion-img.zoom-radio-logo {
    width: 300px;
  }

  .contact-image {
    height: 60px;
  }

  .volume-row {
    display: none;
  }
}

@media only screen and (min-width: 720px) {
  .social-media-list {
    display: none;
  }

  ion-img.zoom-radio-logo {
    width: 400px;
  }

  .contact-image {
    height: 100px;
  }
}

.row-align-center {
  display: flex;
  align-content: center;
}

ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background: #1e2023;
  //background: linear-gradient(45deg, #140925, #590032);
  padding: 20px;

  .header-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.call-icon {
  margin-inline: 5px;
}

.social-media-link {
  text-decoration: none;
  color: white;

  .label {
    display: flex;
    align-items: center;
    justify-content: center;

    .social-media-icon {
      height: 60px;
      width: 60px;
    }
    span {
      margin-left: 10px;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

ion-card {
  max-width: 400px;
  min-width: 250px;

  ion-card-title {
    font-size: 20px;
    text-align: center;
  }
  ion-card-content {
    font-size: 18px;
    text-align: justify;
  }
}

.contact-column {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}
